/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
* , a{
	text-decoration: none!important;
}

.uabb-ib-effect-style9 .uabb-new-ib-desc {
    padding: 35px!important;
}
.product-swatch-inner .button-wrapper-default a, .product-swatch-inner .button-wrapper-default a:hover{
	border: 1px solid #ccc;
}   
.gform_footer{
	padding: 0px!important;	
}

.firefox .fl-content-slider .bx-loading {
	display: none!important;
}
.firefox .fl-content-slider .fl-slide {
	visibility: visible!important;
}
/* .product-row>div.col-md-3:nth-child(3n+1) {
    clear: left!important;
} */
.facetwp-facet .fs-options {
  background-color: #efefef!important;
}
.product-grid .plp_box_btn:hover{
	border: 1px solid #ccc!important;
}
.fl-page-nav-search input[type=search]{
	background-color: #fff!important;
}
.storename .direction a:hover{
 color: #fff!important;
font-size: 14px!important;
}


.FloorteBtn a.fl-button{
	background: #00299b!important;
	color: #fff!important;
	border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 0px!important;
}
.FloorteBtn a.fl-button span{
	color: #fff!important;
}
.FloorteBtn a.fl-button:hover{
	background: #5cb0e8!important;
	border: 0px;
	border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}
.storename .direction a{
    width: 250px!important;
    border-radius: 40px!important;
    background-color: #B0D13B!important;
    border: none!important;
font-size: 14px!important;
    min-height: 55px!important;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap img{
	width: 100%!important;
    }
.gfield input[type=text]{
	width: 100%!important;
}
#breadcrumbs {
padding: 4px 0px!important;
}
.storename{
	margin-bottom: 0px!important;
}
.address p {
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}
header.fl-page-header {
    border-bottom: 2px solid #fff!important;
}
.fl-page-bar-nav>li.menu-item-type-custom a.nav-link{
    display: none;
}
.fl-page-bar-nav>li.menu-item-type-custom .phone.retailer:before{
 content: "\f095";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    font-size: 18px;
    vertical-align: bottom;
}
ul.storename li .direction a{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 250px;
    min-height: 65px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #4f4f4f;
    border: 1px solid #4f4f4f;

}
.gform_wrapper .gfield_time_hour, .gform_wrapper .gfield_time_minute, .gform_wrapper .gfield_time_ampm {
    max-width: 5rem !important;
}
.gform_wrapper .gfield_time_ampm select {
    min-width: calc(5rem + 25px) !important;
}
.ui-datepicker-title select {
    color: #000;
}
input#input_24_8_1, input#input_24_8_2 {
    padding: 15px 5px !important;
    text-align: center;
}
ul.storename li .direction a:hover{
    background:#1a6e82;
}
footer ul.storename li .phone a{
    color: #fff;
}

ul.storename li .phone a span:before {
    content: "\f095";
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    margin-right: 4px;
    vertical-align: bottom;
}
ul.storename li .phone a span{
  display: flex!important;
  align-items: baseline!important;
}
.storename li .store-opening-hrs-container .store-opening-hrs{
    padding-left: 0px;
}
.storename li .store-opening-hrs-container .store-opening-hrs li{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-bottom: 1px solid #000;
    padding: 5px;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
    margin-top: 0px!important;
}
/*.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
    margin-right: 16px;
}*/
.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
    padding-right: 16px;
}
input#input_24_8_1, input#input_24_8_2{
    padding: 15px 10px;
}
.gform_wrapper.gform_validation_error form .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half), .gform_wrapper.gf_browser_chrome .gform_body{
    max-width: calc(100% - 16px)!important;
}
.product-grid .getcoupon-btn{
        border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: none;
}
.product-grid .getcoupon-btn:hover{
        background: #1b5f89!important;
	color: #fff!important;
}
.product-grid .getcoupon-btn:hover span{
	color: #fff!important;
}
.search-row{
    margin-left: 0px!important;
    margin-right: 0px!important;
}
.gform_wrapper .gfield .ginput_container select{
    padding-left: 10px!important;
    padding-right: 10px!important;
    border-radius: 2px;
}
.gform_wrapper .gfield_time_hour i{
    margin-top:-2px!important;
}
.fl-page-nav-search form input.fl-search-input {
    color: #000!important;
}
@media(max-width:1024px){
    ul.storename li .direction a{
        width: 100%;
    }
}


@media(max-width:768px){
	#responsive-menu-additional-content{
	padding-top: 10px!important;
    padding-bottom: 10px!important;
}

#responsive-menu-additional-content .phone a{
	color: #fff!important;
}
    #product-list-top-filters .fl-col-group .fl-col{
            width: auto!important;
    }
    .fl-page-bar{
        font-size: 11px;
    }
    .fl-page-bar .fl-page-bar-container .text-left, .fl-page-header-wrap .fl-page-header-row .fl-page-nav-col{
        display: none;
    }
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
    .fl-button-wrap .fl-button{
    	position: relative;
    }
    .fl-page-bar .fl-page-bar-container .fl-page-bar-row .text-right{
        width: 100%!important;
        text-align: center!important;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba.fl-col > .fl-col-content{
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
    .fl-builder-content-97052 .fl-col[data-node] .fl-col-content{
        margin: 0px;
    }
    .fl-builder-content-97052 .fl-node-5dcd4d63babf0 img{
        padding: 0 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495deccd.fl-row > .fl-row-content-wrap{
        padding-bottom: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc9.fl-row > .fl-row-content-wrap{
        margin-top: -49px!important;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd6 > .fl-module-content, .fl-builder-content-97052 .fl-node-5d7f5495dece3 > .fl-module-content{
        margin-top: 20px!important;
    }
    .fl-builder-content-97052 .fl-node-5dcd4a3e3035b.fl-module > .fl-module-content{
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc5 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba > .fl-col-content{
        margin-right: 10px;
        margin-left: 10px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decba {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decb6.fl-row > .fl-row-content-wrap{
        padding-top: 0px;
    }
    .fl-builder-content-97052 .fl-row[data-node] .fl-row-content-wrap{
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .fl-builder-content-97052 .fl-node-5d83277bab2cd.fl-module > .fl-module-content{
        margin-top: 30px;
        padding: 0px 20px;
    }
    .fl-builder-content-97052 .fl-visible-desktop-medium{
        display: none;
    }
    .fl-builder-content-97052 .fl-visible-mobile{
        display: block;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd8{
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-custom-width.fl-col-group-responsive-reversed .fl-node-5d7f5495decd9 {
        flex-basis: 100%;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(1) {
        -webkit-box-ordinal-group: 12;
        -moz-box-ordinal-group: 12;
        -ms-flex-order: 12;
        -webkit-order: 12;
        order: 12;
    }
    .fl-builder-content-97052 .fl-col-group-responsive-reversed .fl-col:nth-of-type(2) {
        -webkit-box-ordinal-group: 11;
        -moz-box-ordinal-group: 11;
        -ms-flex-order: 11;
        -webkit-order: 11;
        order: 11;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decd8.fl-col > .fl-col-content {
        padding-top: 40px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc0 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
        text-align: center; 
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1 {
        width: 100% !important;
        max-width: none;
        clear: none;
        float: left;
    }
    .fl-builder-content-97052 .fl-node-5d7f5495decc1.fl-col > .fl-col-content {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .fl-builder-content-97052  .fl-node-5d7f5495dece2 > .fl-module-content{
        margin: 20px 0!important;
    }

}

@media(max-width:767px){
	.facet_filters{
	background-color: #efefef!important;
}
    .fl-node-5e01b37c19577 .fl-module-content.fl-node-content .uabb-heading span{
        font-size: 16px!important;
        font-weight: bold;
    }
    .gform_wrapper ul.gform_fields li.timeEstimate .gfield_time_ampm select{
        min-width: 70px;
    }
    ul.storename li .direction a{
        width: 250px;
    }
    .uabb-infobox-button .uabb-button-wrap{
        text-align: center;
    }
    .gform_wrapper.gf_browser_chrome .gform_body{
            max-width: 100%!important;
    }
    .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
        padding-right:0px; 
    }
    .fl-node-5df8cdc50d679 .fl-content-slider, .fl-node-5df8cdc50d679 .fl-slide{
            background: url(https://thorntoncarpets.com/wp-content/uploads/2019/11/Relic-SW698-09036-Curio-2W753-TeaParty-H.jpg);
    background-size: cover;
    }
    .fl-node-5df8cdc50d679 .fl-slide-0 .fl-slide-content{
        background-color: rgba(0,0,0,0.2);
    }
    .fl-page-bar .fl-page-bar-container .text-right{
        text-align: center!important;
    }
    .fl-builder-content .fl-node-5dd4142b176bd, .fl-builder-content .fl-node-5dd2a0df004a7 {
        max-width: 50%;
    }
    .fl-node-5df8cdc50fc7f > .fl-row-content-wrap{
            min-height: 400px;
    }
     .facet_filters {
       position: fixed;
       top: 0px;
       left: -5px;
       width: 80%;
       height: 100%;
       overflow: auto;
       background-color: white;
       z-index: 10;
       left: -1000px;
       -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
       -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
       box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
   }
   .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
   .facetwp-per-page, .facetwp-pager{ float: none;}
   .facetwp-per-page, .facetwp-pager,
   #product-list-top-filters .fl-heading,
   .facetwp-counts{ text-align: center !important;}
}

@media(max-width:425px){
	
.address .uabb-infobox-left-right-wrap{
	margin-right: 10px!important;
}
    .infobox-photo-left .uabb-infobox-left-right-wrap{
        display: block!important;
        width: 83%!important;
        margin: 0px auto;
    }
}

@media(max-width: 375px){
button#responsive-menu-button{
	    width: 40px!important;
    height: 40px!important;
    top: 22px!important;
	}

}